* {
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url("./mitchell-luo-xREzOtWzDrQ-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 650px) {
}
/* header */
header {
  width: 90%;
  height: 100px;
  margin: 20px auto 0;
  display: flex;
  align-items: flex-end;
  transition: 0.3s;
}

header.ing {
  pointer-events: none;
  opacity: 0.3;
}

header > ul {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

header > ul > li {
  width: 120px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0);
  color: rgb(0, 0, 0);
  line-height: 50px;
  transition: 0.2s;
  text-align: center;
  cursor: pointer;
}

header ul .langko.language,
header ul .langen.language {
  background-color: rgba(0, 0, 0, 0.1);
}

header .level .level-choice .choice {
  opacity: 0;
  visibility: hidden;
  transition-delay: 0s;
}

header .level.spread .level-choice .choice {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

header .level.spread {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

@media (max-width: 650px) {
  header > ul {
    width: 80%;
  }
  header > ul > li {
    width: 30%;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    transition: none;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
  header > ul > li:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
}

/* main */

main {
  position: relative;
  margin: 0 auto;
}

main .typing-show-area {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

main .typing-show {
  width: 800px;
  height: 160px;
  margin: 180px auto 100px;
  line-height: 250px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  border-bottom: 1px solid rgb(0, 0, 0);
}

main .line {
  max-width: 800px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
}

main .typing-area {
  width: 800px;
  height: 80px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 18px;
  outline: none;
  font-weight: 900;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-top: 1px solid;
}

main .btns {
  display: flex;
  width: 700px;
  gap: 25px;
  justify-content: center;
  margin: -150px auto;
}

main .score,
main .time,
main .start {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 3px solid white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  transition: 0.3s;
}

main .btns .start:hover {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  border: 3px solid white;
  cursor: pointer;
}
main .btns.ing .score {
  transform: translate(-70px, 0);
}
main .btns.ing .time {
  transform: translate(70px, 0);
}
main .btns.ing .start {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 650px) {
  main .typing-show-area {
    width: 70%;
  }
  main .typing-show-area .line {
    max-width: 100%;
  }
  main .typing-show {
    width: 100%;
    height: 50px;
    color: white;
    line-height: 50px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  main .typing-area {
    width: 70%;
    height: 50px;
    font-size: 13px;
    color: white;
    line-height: 50px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  main .btns {
    width: 70%;
    height: 100px;
    align-items: center;
  }
  main .score,
  main .time,
  main .start {
    width: 25%;
    height: 30px;
    font-size: 10px;
  }
  main .btns .start:hover {
    background-color: rgb(0, 0, 0, 0.1);
  }
  main .btns.ing .score {
    transform: translate(-40px, 0);
  }
  main .btns.ing .time {
    transform: translate(40px, 0);
  }
}
